.husky
.tsbuildinfo
.env
coverage
dist
node_modules
pnpm-lock.yaml
pnpm-workspace.yaml

# prisma
/src/infrastructure/prisma/generated/

# @xNeuNoRo/neucore minimal framework
/packages/**

# Certificados locales para desarrollo HTTPS
/localhost+2.pem
/localhost+2-key.pem